In [1]:
import pandas as pd

In [2]:
churnknn = pd.read_csv("customer_churn.csv")

In [3]:
churnknn.head()

,Names,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Onboard_date,Location,Company,Churn
0,Cameron Williams,42.0,11066.80,0,7.22,8.0,2013-08-30 07:00:40,"10265 Elizabeth Mission Barkerburgh, AK 89518",Harvey LLC,1
1,Kevin Mueller,41.0,11916.22,0,6.50,11.0,2013-08-13 00:38:46,"6157 Frank Gardens Suite 019 Carloshaven, RI 1...",Wilson PLC,1
2,Eric Lozano,38.0,12884.75,0,6.67,12.0,2016-06-29 06:20:07,"1331 Keith Court Alyssahaven, DE 90114","Miller, Johnson and Wallace",1
3,Phillip White,42.0,8010.76,0,6.71,10.0,2014-04-22 12:43:12,"13120 Daniel Mount Angelabury, WY 30645-4695",Smith Inc,1
4,Cynthia Norton,37.0,9191.58,0,5.56,9.0,2016-01-19 15:31:15,"765 Tricia Row Karenshire, MH 71730",Love-Jones,1

In [4]:
churnknn.isna().sum()

Names              0
Age                0
Total_Purchase     0
Account_Manager    0
Years              0
Num_Sites          0
Onboard_date       0
Location           0
Company            0
Churn              0
dtype: int64

In [5]:
churnknn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 10 columns):
Names              900 non-null object
Age                900 non-null float64
Total_Purchase     900 non-null float64
Account_Manager    900 non-null int64
Years              900 non-null float64
Num_Sites          900 non-null float64
Onboard_date       900 non-null object
Location           900 non-null object
Company            900 non-null object
Churn              900 non-null int64
dtypes: float64(4), int64(2), object(4)
memory usage: 70.4+ KB

In [6]:
churnknn.head()

,Names,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Onboard_date,Location,Company,Churn
0,Cameron Williams,42.0,11066.80,0,7.22,8.0,2013-08-30 07:00:40,"10265 Elizabeth Mission Barkerburgh, AK 89518",Harvey LLC,1
1,Kevin Mueller,41.0,11916.22,0,6.50,11.0,2013-08-13 00:38:46,"6157 Frank Gardens Suite 019 Carloshaven, RI 1...",Wilson PLC,1
2,Eric Lozano,38.0,12884.75,0,6.67,12.0,2016-06-29 06:20:07,"1331 Keith Court Alyssahaven, DE 90114","Miller, Johnson and Wallace",1
3,Phillip White,42.0,8010.76,0,6.71,10.0,2014-04-22 12:43:12,"13120 Daniel Mount Angelabury, WY 30645-4695",Smith Inc,1
4,Cynthia Norton,37.0,9191.58,0,5.56,9.0,2016-01-19 15:31:15,"765 Tricia Row Karenshire, MH 71730",Love-Jones,1

In [9]:
X = churnknn.loc[:,["Age","Total_Purchase","Account_Manager","Years","Num_Sites"]]

In [10]:
X.head()

    Age  Total_Purchase  Account_Manager  Years  Num_Sites
0  42.0        11066.80                0   7.22        8.0
1  41.0        11916.22                0   6.50       11.0
2  38.0        12884.75                0   6.67       12.0
3  42.0         8010.76                0   6.71       10.0
4  37.0         9191.58                0   5.56        9.0

In [11]:
y = churnknn.Churn

In [12]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Churn, dtype: int64

In [13]:
(y==1).head(10)

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: Churn, dtype: bool

In [14]:
(y==1).sum()

150

In [16]:
150/900

0.16666666666666666

## Build KNnearestClassifier Model

In [18]:
from sklearn.neighbors import KNeighborsClassifier

In [19]:
knnmodel1 = KNeighborsClassifier()

## Train test or hold out method

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [22]:
knnmodel1.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [25]:
knnmodel1.fit(X_test,y_test)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [24]:
print("training Accuracy ", knnmodel1.score(X_train,y_train))
print("testing Accuracy ", knnmodel1.score(X_test,y_test))

training Accuracy  0.8444444444444444
testing Accuracy  0.8088888888888889

In [26]:
from sklearn.metrics import confusion_matrix

In [27]:
y_pred = knnmodel1.predict(X_test)

In [28]:
confusion_matrix(y_test,y_pred)

array([[187,   4],
       [ 29,   5]], dtype=int64)

In [62]:
def kNNmodel1(n=30):
    knnmodel1=KNeighborsClassifier(n_neighbors=n)
    knnmodel1.fit(X_train,y_train)
    print("training Accuracy \n{}".format(knnmodel1.score(X_train,y_train)))
    print("testing Accuracy \n{}".format(knnmodel1.score(X_test,y_test)))

In [63]:
kNNmodel1()

training Accuracy
0.8281481481481482
testing Accuracy
0.8488888888888889

In [64]:
kNNmodel1(50)

training Accuracy
0.8281481481481482
testing Accuracy
0.8488888888888889

In [65]:
kNNmodel1(70)

training Accuracy
0.8281481481481482
testing Accuracy
0.8488888888888889

In [66]:
kNNmodel1(90)

training Accuracy
0.8281481481481482
testing Accuracy
0.8488888888888889

In [67]:
kNNmodel1(110)

training Accuracy
0.8281481481481482
testing Accuracy
0.8488888888888889

In [94]:
def kNNmodel2(n=30):
    knnmodel2=KNeighborsClassifier(n_neighbors=n,weights="distance")
    knnmodel2.fit(X_train,y_train)
    print("training Accuracy \n{}".format(knnmodel2.score(X_train,y_train)))
    print("testing Accuracy \n{}".format(knnmodel2.score(X_test,y_test)))

In [95]:
kNNmodel2()

training Accuracy
1.0
testing Accuracy
0.8488888888888889

In [96]:
kNNmodel1(110)

training Accuracy
0.8281481481481482
testing Accuracy
0.8488888888888889

In [131]:
from sklearn.model_selection import GridSearchCV

In [132]:
knnmode = KNeighborsClassifier()
modelk = GridSearchCV(knnmode, param_grid = {"n_neighbors":range(30,111,20),
                                            "weights":["uniform","distance"]})

In [133]:
modelk.fit(X,y)

C:\Users\PYTHON\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='warn', n_jobs=None,
             param_grid={'n_neighbors': range(30, 111, 20),
                         'weights': ['uniform', 'distance']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [147]:
modelk.best_params_

{'n_neighbors': 30, 'weights': 'uniform'}

In [149]:
modelk.score(X,y)

0.8333333333333334

## Best model

In [150]:
best_model = KNeighborsClassifier(n_neighbors=30,weights = "uniform")

In [151]:
from sklearn.model_selection import train_test_split

In [152]:
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [157]:
best_model.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=30, p=2,
                     weights='uniform')

In [154]:
best_model.score(X_test,y_test)

0.8355555555555556

## Saving MOdel Using Joblib

In [159]:
import joblib

In [160]:
joblib.dump(best_model,"knn_best_model,pk1")

['knn_best_model,pk1']