In [1]:
import pandas as pd

In [2]:
churn = pd.read_csv("customer_churn.csv")

In [3]:
churn.head()

,Names,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Onboard_date,Location,Company,Churn
0,Cameron Williams,42.0,11066.80,0,7.22,8.0,2013-08-30 07:00:40,"10265 Elizabeth Mission Barkerburgh, AK 89518",Harvey LLC,1
1,Kevin Mueller,41.0,11916.22,0,6.50,11.0,2013-08-13 00:38:46,"6157 Frank Gardens Suite 019 Carloshaven, RI 1...",Wilson PLC,1
2,Eric Lozano,38.0,12884.75,0,6.67,12.0,2016-06-29 06:20:07,"1331 Keith Court Alyssahaven, DE 90114","Miller, Johnson and Wallace",1
3,Phillip White,42.0,8010.76,0,6.71,10.0,2014-04-22 12:43:12,"13120 Daniel Mount Angelabury, WY 30645-4695",Smith Inc,1
4,Cynthia Norton,37.0,9191.58,0,5.56,9.0,2016-01-19 15:31:15,"765 Tricia Row Karenshire, MH 71730",Love-Jones,1

In [4]:
churn.isna().sum()

Names              0
Age                0
Total_Purchase     0
Account_Manager    0
Years              0
Num_Sites          0
Onboard_date       0
Location           0
Company            0
Churn              0
dtype: int64

In [5]:
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 10 columns):
Names              900 non-null object
Age                900 non-null float64
Total_Purchase     900 non-null float64
Account_Manager    900 non-null int64
Years              900 non-null float64
Num_Sites          900 non-null float64
Onboard_date       900 non-null object
Location           900 non-null object
Company            900 non-null object
Churn              900 non-null int64
dtypes: float64(4), int64(2), object(4)
memory usage: 70.4+ KB

In [6]:
churn.head()

,Names,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Onboard_date,Location,Company,Churn
0,Cameron Williams,42.0,11066.80,0,7.22,8.0,2013-08-30 07:00:40,"10265 Elizabeth Mission Barkerburgh, AK 89518",Harvey LLC,1
1,Kevin Mueller,41.0,11916.22,0,6.50,11.0,2013-08-13 00:38:46,"6157 Frank Gardens Suite 019 Carloshaven, RI 1...",Wilson PLC,1
2,Eric Lozano,38.0,12884.75,0,6.67,12.0,2016-06-29 06:20:07,"1331 Keith Court Alyssahaven, DE 90114","Miller, Johnson and Wallace",1
3,Phillip White,42.0,8010.76,0,6.71,10.0,2014-04-22 12:43:12,"13120 Daniel Mount Angelabury, WY 30645-4695",Smith Inc,1
4,Cynthia Norton,37.0,9191.58,0,5.56,9.0,2016-01-19 15:31:15,"765 Tricia Row Karenshire, MH 71730",Love-Jones,1

In [7]:
X = churn.loc[:,["Age","Total_Purchase","Account_Manager","Years","Num_Sites"]]

In [8]:
y =  churn.Churn

In [9]:
X.head()

    Age  Total_Purchase  Account_Manager  Years  Num_Sites
0  42.0        11066.80                0   7.22        8.0
1  41.0        11916.22                0   6.50       11.0
2  38.0        12884.75                0   6.67       12.0
3  42.0         8010.76                0   6.71       10.0
4  37.0         9191.58                0   5.56        9.0

In [10]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Churn, dtype: int64

In [11]:
(y==1).head(10)

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: Churn, dtype: bool

In [12]:
(y==1).sum()

150

In [13]:
(y==0).sum()

750

In [14]:
150/900

0.16666666666666666

## Using Random Forest Model

In [15]:
from sklearn.ensemble import RandomForestClassifier

In [16]:
forest1=RandomForestClassifier()

### Train test Split Method

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [19]:
forest1.fit(X_train,y_train)

C:\Users\PYTHON\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [20]:
from sklearn.metrics import confusion_matrix

In [21]:
y_pred=forest1.predict(X_test)

In [ ]:
confusi

In [22]:
print(forest1.score(X_train,y_train))
print(forest1.score(X_test,y_test))

0.9807407407407407
0.8977777777777778

In [23]:
forestModel()

NameError: name 'forestModel' is not defined

In [ ]:
forestModel(200)

In [ ]:
forestModel(300)

In [ ]:
forestModel(1000)

In [ ]:

def forestModel1(n=100):
    forest1=RandomForestClassifier(n_estimators=n,criterion="entropy")
    forest1.fit(X_train,y_train)
    print(forest1.score(X_train,y_train))
    print(forest1.score(X_test,y_test))

In [ ]:
forestModel1()

In [ ]:
forestModel1(1000)

### Grid search Cv on Forest model

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
model =RandomForestClassifier()
grid_model=GridSearchCV(model,param_grid={"n_estimators":range(100,1001,100),
                               "criterion":["gini","entropy"]})

In [ ]:
grid_model.fit(X,y)

In [ ]:
grid_model.cv_results_

In [ ]:
grid_model.best_estimator_

In [ ]:
grid_model.best_params_

## Building THe Best Model

In [ ]:
best_model=RandomForestClassifier(n_estimators=500,criterion="gini")
best_model.fit(X,y)

## Saving the best model

In [32]:
import joblib

In [33]:
joblib.dump(best_model,"forest_best_model.pk1")

['forest_best_model.pk1']